html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
}

form{
    width: 550px;
    background-color:#202020;
    padding: 25px;
    color: white;
    border: 2px solid;
    border-radius: 10px;
}
form > h1{
    margin-top: 0px;
    text-align: center;
}
form > p{
    display: block;
    width: 550px;
}
form > p > label{
    font-size: 20px;
}
form > p > input{
    width: 100%;
    outline: none;
}

#zipCodeP{
    display: inline-block;
    width: 100px;
}
#countryP{
    display: inline-block;
    width: 430px;
    margin-left: 15px;
}
#submit{
    font-size: 20px;
    width: 100px;
    height: 36px;
    margin-left: 225px;
}
.error{
    box-sizing: border-box;

    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #202020;
    border-radius: 0 0 5px 5px;
}
.error.active{
    padding: 03.em;
}

input:valid{
    border: 2px solid green;
}
input:invalid{
    border: 1px solid red;
}
label::after{
   content: '*';
}